.anchor-pane {
    -fx-background-color: dimgray;
}
.label {
    -fx-text-fill: whitesmoke;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}