.menu-bar {
    -fx-background-color: dimgray;
}
.menu-bar .label {
    -fx-font-size: 12.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
    -fx-padding: 1px;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: black ;
    -fx-opacity: 0.5;
    -fx-text-fill: white;
}
.menu-item {
    -fx-background-color: dimgray;
}
.menu-item .label {
    -fx-font-size: 12.0 pt;
    -fx-text-fill: whitesmoke;
}
.menu-item:hover {
    -fx-background-color: black;
    -fx-opacity: 0.7;
}
.label {
    -fx-text-fill: whitesmoke;
}
.split-pane {
    -fx-background-color: dimgray;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}
